<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Girainka app
        {% endblock %}
    </title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e75b12d8a2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <img src="{% static 'assets/logo.png' %}"alt="">
        <ul>
            <li class="activate"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            {% if user.is_authenticated %}
                <li><a href="/report">Report</a></li>
            {% else %}
            {% endif %}
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class='nav-btn'>
            {% if user.is_authenticated %}
                <button onclick="window.location.href='/logout'">Logout</button>
            {% else %}
                <button onclick="window.location.href='/login'">Login</button>
                <button onclick="window.location.href='/signup'">Signup</button>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block content%}

        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
            <h2 class="footer-title">Giranka</h2>
            <p>In the pursuit of innovation, we discover new possibilities and create solutions that impact the industry for generations.</p>
            <div class="social">
            </div>
            </div>

            <div class="footer-section services">
            <h3>Services</h3>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Our Blog</a></li>
            </ul>
            </div>

            <div class="footer-section gallery">
                <h3>Gallery</h3>
                <div class="gallery-grid">
                    <img src="{% static 'assets/images/image1.svg' %}" alt="Gallery Image 1">
                    <img src="{% static 'assets/images/image2.svg' %}" alt="Gallery Image 2">
                    <img src="{% static 'assets/images/imag3.svg' %}" alt="Gallery Image 3">
                    <img src="{% static 'assets/images/image4.svg' %}" alt="Gallery Image 4">
                    <img src="{% static 'assets/images/image5.svg' %}" alt="Gallery Image 5">
                    <img src="{% static 'assets/images/image6.svg' %}" alt="Gallery Image 6">
                </div>
            </div>

            <div class="footer-section contact">
            <h3>Contact</h3>
            <ul>
                <li><i class="fa fa-phone"></i> +250 792 418 795</li>
                <li><i class="fa fa-whatsapp"></i> Whatsapp</li>
                <li><i class="fa fa-envelope"></i> girinka@info.com</li>
                <li><i class="fa fa-clock"></i> Working hours 24/7</li>
            </ul>
            </div>
        </div>
    </footer>
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>