{% extends 'website/layout.html' %}

{% load static %}

{% block title %}report{% endblock %}

{% block content %}
    <div class="form-container">
        {% if messages %}
            <div class="alert" id="alert-container">
                {% for message in messages %}
                    <div class="alert-message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <p>Submit any requests or issues regarding your cows, such as health concerns or loss, to support vulnerable families through Girinka, enhancing nutrition and community prosperity.</p>
        <h2>Submit your a request or issue</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  
            
            <div class="buttons">
                <button type="button" class="cancel" onclick="window.location.href='/'">Cancel</button>
                <button type="submit" class="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
