{% extends 'website/layout.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="form-container">
       
        <p>Submit any requests or issues regarding your cows, such as health concerns or loss, to support vulnerable families through Girinka, enhancing nutrition and community prosperity.</p>
        <h2>Submit your a request or issue</h2>
        <form>
            <label for="name">Full Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>
            
            <label for="description">Describe your request or issue:</label>
            <textarea id="png" name="description" rows="5" required></textarea>
            
            <div class="buttons">
                <button type="button" class="cancel">Cancel</button>
                <button type="submit" class="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}