{% extends 'website/layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="user-container">
  <div class="header">
      <input type="text" placeholder="Search name" class="search-bar">
      <div class="date-range">
          <label for="from">from</label>
          <input type="date" id="from" value="2023-04-04">
          <label for="to">to</label>
          <input type="date" id="to" value="2023-04-04">
      </div>
  </div>
  <table>
      <thead>
          <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last name</th>
              <th>password</th>
              <th>Comfirm <br/>password</th>
              <th>Address</th>
              <th>Role</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
         
          <tr>
              <td>john@gmail.com</td>
              <td>John</td>
              <td>Bosco</td>
              <td>1234</td>
              <td>1234</td>
              <td>Nyarugenge</td>
              <td>executive</td>
              <td>
                  <button class="action-btn view"><i class="fas fa-eye"></i></button>
                  <button class="action-btn delete"><i class="fas fa-trash"></i></button>
              </td>
          </tr>
          
          <tr>
            <td>john@gmail.com</td>
            <td>John</td>
            <td>Bosco</td>
            <td>1234</td>
            <td>1234</td>
            <td>Nyarugenge</td>
            <td>executive</td>
            <td>
                <button class="action-btn view"><i class="fas fa-eye"></i></button>
                <button class="action-btn delete"><i class="fas fa-trash"></i></button>
            </td>
        </tr>

        <tr>
            <td>john@gmail.com</td>
            <td>John</td>
            <td>Bosco</td>
            <td>1234</td>
            <td>1234</td>
            <td>Nyarugenge</td>
            <td>executive</td>
            <td>
                <button class="action-btn view"><i class="fas fa-eye"></i></button>
                <button class="action-btn delete"><i class="fas fa-trash"></i></button>
            </td>
        </tr>

        <tr>
            <td>john@gmail.com</td>
            <td>John</td>
            <td>Bosco</td>
            <td>1234</td>
            <td>1234</td>
            <td>Nyarugenge</td>
            <td>executive</td>
            <td>
                <button class="action-btn view"><i class="fas fa-eye"></i></button>
                <button class="action-btn delete"><i class="fas fa-trash"></i></button>
            </td>
        </tr>

      </tbody>
  </table>

</div>
  <div class="user-bottom">
      <span>Rows Per page 
        <select>
          <option>25</option>
          <option>50</option>
        </select>
      </span>
      <span>1-9 of 24</span>
      <span>
          <button>&lt;</button>
          <button>&gt;</button>
      </span>
  </div>

{% endblock %}
